

body {
    background: linear-gradient(pink, rgb(231, 110, 245), pink);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;



}

form {
    margin: 0 auto;
    width: 300px;
}

img.jokair {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
    border-radius: 50%;
}

img.jokair:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.container {
    margin: 0 auto;
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 35px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    margin-top: 150px;
    text-align: center;
}

.formulaire button {

    background-color: #001848;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;


}

.formulaire button:hover {
    opacity: 0.8;
}

.input-upload {
    background-color: #001848;

}

input[type="file" ] {
   background-color: #001848;
    color: white;
    
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}